<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>{{ część.nazwa }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1>{{ część.nazwa }}</h1>
        <h3>{{ część.opis }}</h3>
        {% if część.zdjęcie %}
            <img src="{{ część.zdjęcie.url }}" alt="{{ część.nazwa }}" class="image">
        {% else %}
            <p>(brak zdjęcia)</p>
        {% endif %}
        <br>
        <a href="{% url 'index' %}">link do powrotu</a>
    </body>
</html>